 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.col-main, .col-footer, img {
	width: 100%;
}
header {
	background: #7CC576;
	height: 230px;
}

.logo {
	float: left;
	width: 300px
	padding: 30px;
	box-sizing: border-box;
	background: #7CC576;
}

h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.main-nav-container-desktop-nav {
	float: right;
	width: calc(100% - 100px);
	display: block;
	max-width: 960px;
}
.main-nav-container-desktop-nav ul {
	width: 100%
}

.main-nav-container-desktop-nav li {
	box-sizing: border-box;
	width: 165px;
	float: right;
	background: #6DCFF6;
}

.link-square {
	width: 165px;
	float: right;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.main-nav a {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}

.main-section {
	float: left;
	width: 680px;
	padding: 10px;
}

.img-sidebar {
	float: right;
	width: 280px;
	padding: 10px;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.site-sidebar {
	float: right;
	width: 280px;
	padding: 10px;
}

footer {
	background: #7CC576;
	padding: 15px;
	width: 50%;
	box-sizing:border-box;
}

.footer-container {
	width: 27%
	padding: 20px;
	float: left;
	margin-top: 35px;
}
.whole-footer {
	width: 100%;
	margin: 1 1%;
	padding: 20px;
	float: left;
}

.footer-slide {
	float: right;
	width: 48px;
	padding: 10px;

}